*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# ignore R stuff
.Rhistory

# ignore powerpoints
.pptx
.Rproj.user
.RData
CNSTAT_DIFF_PRIVACY.Rproj
national_blocks_june_dp.csv
data/.DS_Store
data/nhgis_ppdd_20210608_codebook.txt
data/blocks020821/.DS_Store
data/blocks020821/nhgis_ppdd_20210608_block_AK.zip
data/blocks020821/nhgis_ppdd_20210608_block_AL.zip
data/blocks020821/nhgis_ppdd_20210608_block_AR.zip
data/blocks020821/nhgis_ppdd_20210608_block_AZ.zip
data/blocks020821/nhgis_ppdd_20210608_block_CA.zip
data/blocks020821/nhgis_ppdd_20210608_block_CO.zip
data/blocks020821/nhgis_ppdd_20210608_block_CT.zip
data/blocks020821/nhgis_ppdd_20210608_block_DC.zip
data/blocks020821/nhgis_ppdd_20210608_block_DE.zip
data/blocks020821/nhgis_ppdd_20210608_block_FL.zip
data/blocks020821/nhgis_ppdd_20210608_block_GA.zip
data/blocks020821/nhgis_ppdd_20210608_block_HI.zip
data/blocks020821/nhgis_ppdd_20210608_block_IA.zip
data/blocks020821/nhgis_ppdd_20210608_block_ID.zip
data/blocks020821/nhgis_ppdd_20210608_block_IL.zip
data/blocks020821/nhgis_ppdd_20210608_block_IN.zip
data/blocks020821/nhgis_ppdd_20210608_block_KS.zip
data/blocks020821/nhgis_ppdd_20210608_block_KY.zip
data/blocks020821/nhgis_ppdd_20210608_block_LA.zip
data/blocks020821/nhgis_ppdd_20210608_block_MA.zip
data/blocks020821/nhgis_ppdd_20210608_block_MD.zip
data/blocks020821/nhgis_ppdd_20210608_block_ME.zip
data/blocks020821/nhgis_ppdd_20210608_block_MI.zip
data/blocks020821/nhgis_ppdd_20210608_block_MN.zip
data/blocks020821/nhgis_ppdd_20210608_block_MO.zip
data/blocks020821/nhgis_ppdd_20210608_block_MS.zip
data/blocks020821/nhgis_ppdd_20210608_block_MT.zip
data/blocks020821/nhgis_ppdd_20210608_block_NC.zip
data/blocks020821/nhgis_ppdd_20210608_block_ND.zip
data/blocks020821/nhgis_ppdd_20210608_block_NE.zip
data/blocks020821/nhgis_ppdd_20210608_block_NH.zip
data/blocks020821/nhgis_ppdd_20210608_block_NJ.zip
data/blocks020821/nhgis_ppdd_20210608_block_NM.zip
data/blocks020821/nhgis_ppdd_20210608_block_NV.zip
data/blocks020821/nhgis_ppdd_20210608_block_NY.zip
data/blocks020821/nhgis_ppdd_20210608_block_OH.zip
data/blocks020821/nhgis_ppdd_20210608_block_OK.zip
data/blocks020821/nhgis_ppdd_20210608_block_OR.zip
data/blocks020821/nhgis_ppdd_20210608_block_PA.zip
data/blocks020821/nhgis_ppdd_20210608_block_RI.zip
data/blocks020821/nhgis_ppdd_20210608_block_SC.zip
data/blocks020821/nhgis_ppdd_20210608_block_SD.zip
data/blocks020821/nhgis_ppdd_20210608_block_TN.zip
data/blocks020821/nhgis_ppdd_20210608_block_TX.zip
data/blocks020821/nhgis_ppdd_20210608_block_UT.zip
data/blocks020821/nhgis_ppdd_20210608_block_VA.zip
data/blocks020821/nhgis_ppdd_20210608_block_VT.zip
data/blocks020821/nhgis_ppdd_20210608_block_WA.zip
data/blocks020821/nhgis_ppdd_20210608_block_WI.zip
data/blocks020821/nhgis_ppdd_20210608_block_WV.zip
data/blocks020821/nhgis_ppdd_20210608_block_WY.zip
data/blocks020821/nhgis_ppdd_20210608_block_AL/.DS_Store
data/blocks020821/nhgis_ppdd_20210608_block_AL/nhgis_ppdd_20210608_codebook.txt
data/processed_blocks/nhgis_ppdd_20210608_block_AK.csv
data/processed_blocks/nhgis_ppdd_20210608_block_AL.csv
data/processed_blocks/nhgis_ppdd_20210608_block_AR.csv
data/processed_blocks/nhgis_ppdd_20210608_block_AZ.csv
data/processed_blocks/nhgis_ppdd_20210608_block_CA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_CO.csv
data/processed_blocks/nhgis_ppdd_20210608_block_CT.csv
data/processed_blocks/nhgis_ppdd_20210608_block_DC.csv
data/processed_blocks/nhgis_ppdd_20210608_block_DE.csv
data/processed_blocks/nhgis_ppdd_20210608_block_FL.csv
data/processed_blocks/nhgis_ppdd_20210608_block_GA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_HI.csv
data/processed_blocks/nhgis_ppdd_20210608_block_IA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_ID.csv
data/processed_blocks/nhgis_ppdd_20210608_block_IL.csv
data/processed_blocks/nhgis_ppdd_20210608_block_IN.csv
data/processed_blocks/nhgis_ppdd_20210608_block_KS.csv
data/processed_blocks/nhgis_ppdd_20210608_block_KY.csv
data/processed_blocks/nhgis_ppdd_20210608_block_LA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MD.csv
data/processed_blocks/nhgis_ppdd_20210608_block_ME.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MI.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MN.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MO.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MS.csv
data/processed_blocks/nhgis_ppdd_20210608_block_MT.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NC.csv
data/processed_blocks/nhgis_ppdd_20210608_block_ND.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NE.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NH.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NJ.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NM.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NV.csv
data/processed_blocks/nhgis_ppdd_20210608_block_NY.csv
data/processed_blocks/nhgis_ppdd_20210608_block_OH.csv
data/processed_blocks/nhgis_ppdd_20210608_block_OK.csv
data/processed_blocks/nhgis_ppdd_20210608_block_OR.csv
data/processed_blocks/nhgis_ppdd_20210608_block_PA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_RI.csv
data/processed_blocks/nhgis_ppdd_20210608_block_SC.csv
data/processed_blocks/nhgis_ppdd_20210608_block_SD.csv
data/processed_blocks/nhgis_ppdd_20210608_block_TN.csv
data/processed_blocks/nhgis_ppdd_20210608_block_TX.csv
data/processed_blocks/nhgis_ppdd_20210608_block_UT.csv
data/processed_blocks/nhgis_ppdd_20210608_block_VA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_VT.csv
data/processed_blocks/nhgis_ppdd_20210608_block_WA.csv
data/processed_blocks/nhgis_ppdd_20210608_block_WI.csv
data/processed_blocks/nhgis_ppdd_20210608_block_WV.csv
data/processed_blocks/nhgis_ppdd_20210608_block_WY.csv
.DS_Store
